body {
    font-family: sans-serif;
  }

svg, label{
    margin-bottom: 10px;
}
#more, #loading{
    display: none;
}
  #drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    margin: 50px auto;
    padding: 20px;
  }
  #drop-area.highlight {
    border-color: purple;
  }
 
.my-form {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

.choose {
    font-weight: 600;
}

.choose:hover {
    color: blue;
}
  
#fileElem {
    display: none;
}